In [1]:
import pandas as pd

#for saving and loading objects
import pickle

# Create Train/Test Data (Hkfp + ChinaDaily)

In [2]:
with open('../../ChinaDaily/Pickles/ChinaDailyDF.pkl', 'rb') as f:
    ChinaDailyDf = pickle.load(f)

ChinaDailyDf = ChinaDailyDf.dropna()  
ChinaDailyDf = ChinaDailyDf.drop_duplicates()
ChinaDailyDf['Title']  = ChinaDailyDf['Title'] + ". " + ChinaDailyDf['Summary']
ChinaDailyDf = ChinaDailyDf.drop(['Date','Summary','Link'], 1)

ChinaDailyDf['Class'] = 0
    
with open('../../HKFP/Pickles/HkfpDF.pkl', 'rb') as f:
    HkfpDF = pickle.load(f)
    
HkfpDF = HkfpDF.dropna()   
HkfpDF = HkfpDF.drop_duplicates()
HkfpDF = HkfpDF.drop(['Date','Summary','Link','Author'], 1)
HkfpDF['Class'] = 1

In [6]:
FullDf = pd.concat([HkfpDF, ChinaDailyDf ])
FullDf = FullDf.reset_index(drop=True)
FullDf.to_csv('../Data/train_test_val_data.csv',index=False)

In [5]:
FullDf

                                                   Title  Class
0      In Pictures: Hundreds protest against Tuen Mun...      1
1      Traces of coronavirus detected in Hong Kong pa...      1
2      China censors report about how authorities hid...      1
3      Community film screenings across Hong Kong mar...      1
4      Hundreds commemorate 15-year-old Hong Kong stu...      1
...                                                  ...    ...
16488  Strong  start  for  year  takes  Hong  Kong  s...      0
16489  HK  'set  to  reclaim  IPO  crown'. PwC  belie...      0
16490  Government:  Public  assemblies  in  HK  must ...      0
16491  Work  on  main  section  of  bridge  to  end  ...      0
16492  SARs  express  their  optimism  for  2018. Hon...      0

[16493 rows x 2 columns]

# Create SCMP Data

In [20]:
with open('../../SCMP/Pickles/ScmpDF.pkl', 'rb') as f:
    ScmpDf = pickle.load(f)
    
ScmpDf = ScmpDf.dropna()   
ScmpDf = ScmpDf.drop_duplicates()
ScmpDf = ScmpDf[~ScmpDf.Topic.str.contains('|'.join(['Hong Kong']))]
ScmpDf = ScmpDf.drop(['Date','Link','Author','Topic'], 1)
ScmpDf

,Title,Summary
8,HBO’s Watchmen reminds Chinese viewers of Hong...,"Like Joker, Watchmen is drawing comparisons to..."
10,"No regrets, says esports player banned for Hon...",Hong Kong player Blitzchung banned for a year ...
12,Nationalists hopping the Great Firewall to att...,CCTV praises patriotic netizens on Facebook an...
13,"Apple’s AirDrop, a key tool for Hong Kong prot...","Chinese smartphone rivals Xiaomi, Oppo and Viv..."
14,Twitter users call for Mulan boycott over actr...,Mulan lead actress Liu Yifei reposted a meme e...
...,...,...
20018,"After 50 years, Hong Kong shopkeeper closes Qu...","Hui Kin-man, of King Luen book shop, cannot st..."
20122,Hong Kong edges out Singapore in liveability s...,Economist Intelligence Unit’s latest research ...
20147,"Before the Hong Kong protests, banned Twitter ...",Tens of thousands of posts aimed at fugitive b...
20193,"Motherhood is demanding and often isolating, s...",Mothers face constant pressure to be perfect b...
20253,Star Alliance invites travellers on seamless j...,

In [21]:
ScmpDf.to_csv('../Data/scmp_data.csv',index=False)

In [22]:
ScmpDf

,Title,Summary
8,HBO’s Watchmen reminds Chinese viewers of Hong...,"Like Joker, Watchmen is drawing comparisons to..."
10,"No regrets, says esports player banned for Hon...",Hong Kong player Blitzchung banned for a year ...
12,Nationalists hopping the Great Firewall to att...,CCTV praises patriotic netizens on Facebook an...
13,"Apple’s AirDrop, a key tool for Hong Kong prot...","Chinese smartphone rivals Xiaomi, Oppo and Viv..."
14,Twitter users call for Mulan boycott over actr...,Mulan lead actress Liu Yifei reposted a meme e...
...,...,...
20018,"After 50 years, Hong Kong shopkeeper closes Qu...","Hui Kin-man, of King Luen book shop, cannot st..."
20122,Hong Kong edges out Singapore in liveability s...,Economist Intelligence Unit’s latest research ...
20147,"Before the Hong Kong protests, banned Twitter ...",Tens of thousands of posts aimed at fugitive b...
20193,"Motherhood is demanding and often isolating, s...",Mothers face constant pressure to be perfect b...
20253,Star Alliance invites travellers on seamless j...,

In [23]:
FullDf

                                                  Title  Class
0     In Pictures: Hundreds protest against Tuen Mun...      1
1     Traces of coronavirus detected in Hong Kong pa...      1
2     China censors report about how authorities hid...      1
3     Community film screenings across Hong Kong mar...      1
4     Hundreds commemorate 15-year-old Hong Kong stu...      1
...                                                 ...    ...
3995  Retiring  HKMA  head  hopes  city  can  mend  ...      0
3996  Labor  group  calls  for  bringing  home  the ...      0
3997  HK  CE:  20,000  registering  for  dialogue  d...      0
3998  Chan:  HK  residents  to  get  cash  handouts ...      0
3999  HK$1  billion  overtime  pay  for  police  're...      0

[4000 rows x 2 columns]