In [1]:
import pandas as pd

#for saving and loading objects
import pickle
pd.set_option('display.max_colwidth', -1)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """

# Create Train/Test Data (Hkfp + ChinaDaily)

In [35]:
with open('../../ChinaDaily/Pickles/ChinaDailyDF.pkl', 'rb') as f:
    ChinaDailyDf = pickle.load(f)

ChinaDailyDf = ChinaDailyDf.dropna()  
ChinaDailyDf = ChinaDailyDf.drop_duplicates()
#ChinaDailyDf['Title']  = ChinaDailyDf['Title'] + ". " + ChinaDailyDf['Summary']
ChinaDailyDf['Title']  = ChinaDailyDf['Title']

ChinaDailyDf = ChinaDailyDf.drop(['Date','Summary','Link'], 1)

ChinaDailyDf['Class'] = 0
    
with open('../../HKFP/Pickles/HKFP_News_Full_Clean.pkl', 'rb') as f:
    HkfpDF = pickle.load(f)
    
HkfpDF = HkfpDF.dropna()   
HkfpDF = HkfpDF.drop_duplicates()
HkfpDF = HkfpDF.drop(['Date','Link','Author'], 1)
HkfpDF['Class'] = 1

In [36]:
FullDf = pd.concat([HkfpDF, ChinaDailyDf ])
FullDf = FullDf.reset_index(drop=True)

In [37]:
#clean standardise
FullDf['Title'] = FullDf['Title'].replace({'gov’t': 'government'}, regex=True)
FullDf['Title'] = FullDf['Title'].replace({'govt': 'government'}, regex=True)
FullDf['Title'] = FullDf['Title'].replace({'HK': 'Hong Kong'}, regex=True)
FullDf['Title'] = FullDf['Title'].replace({'CE': 'Chief Executive'}, regex=True)
FullDf['Title'] = FullDf['Title'].replace({'In Pictures:': ''}, regex=True)
FullDf['Title'] = FullDf['Title'].replace({'Interview: ': ''}, regex=True)
FullDf['Title'] = FullDf['Title'].replace({'Hong KongFP Lens: ': ''}, regex=True)
FullDf['Title'] = FullDf['Title'].replace({'Video: ': ''}, regex=True)


FullDf

,Title,Class
0,In Pictures: Hundreds protest against Tuen Mun’s ‘dancing aunties’ as police deploy pepper spray,1
1,"Traces of coronavirus detected in Hong Kong patient’s dog but no evidence of infection, says government dept.",1
2,China censors report about how authorities hid coronavirus genome sequence test results for 14 days,1
3,Community film screenings across Hong Kong mark 9 months since first anti-extradition law protest clashes,1
4,Hundreds commemorate 15-year-old Hong Kong student who died last September,1
...,...,...
23912,"Hong Kong stocks top 28,000 points on mainland money inflows",0
23913,Task force to tackle land supply shortage,0
23914,CE: Protecting dignity of national anthem an obligation,0
23915,Survey finds half Hong Kong secondary students suffer depression,0
23916,GoGoVan-58 Suyun tie-up creates Hong Kong's first Unicorn,0

In [46]:
FullDf[7800:]

,Title,Class
7800,"Chris Patten: Not here to stir the water, nor to duck questions either",1
7801,Pro-Beijing lawmaker Paul Tse says he mistakenly appeared on petition urging action over pro-independence slogans,1
7802,Gov’t moves to debate Express Rail Link joint checkpoint in legislature,1
7803,Video: Chinese farmer rescued after 50km ordeal in a hydrogen balloon used to harvest pine cones,1
7804,Pro-Beijing lawmaker Junius Ho rebuts claims he is not ‘solicitor in England and Wales’,1
...,...,...
23912,"Hong Kong stocks top 28,000 points on mainland money inflows",0
23913,Task force to tackle land supply shortage,0
23914,CE: Protecting dignity of national anthem an obligation,0
23915,Survey finds half Hong Kong secondary students suffer depression,0
23916,GoGoVan-58 Suyun tie-up creates Hong Kong's first Unicorn,0

In [17]:
FullDf[13000:]

FullDf.to_csv('../Data/train_test_val_data.csv',index=False)

# Create SCMP Data

In [28]:
with open('../../SCMP/Pickles/SCMP_News_Full.pkl', 'rb') as f:
    ScmpDf = pickle.load(f)
    
    
ScmpDf = ScmpDf.dropna()   
ScmpDf = ScmpDf.drop_duplicates()
ScmpDf['Title'] = ScmpDf['Title'].replace({'gov’t': 'government'}, regex=True)
ScmpDf['Title'] = ScmpDf['Title'].replace({'govt': 'government'}, regex=True)
ScmpDf['Title'] = ScmpDf['Title'].replace({'HK': 'Hong Kong'}, regex=True)

ScmpDf = ScmpDf.drop(['Date','Link','Author','Topic','Summary'], 1)
ScmpDf

                                                                                                                   Title
0      Play to our strength
1      Hong Kong leader Leung must focus on building team as controversies mount
2      Loh a curious choice for government role but could make an impact in office
3      Hong Kong policeman Andy Naylor dies in water at Ironman triathlon in New York
4      Why so glum? Hongkongers need to savour city's success
...                                                       ...
92246  Hong Kong police inspector arrested on suspicion of stealing colleagues’ tactical helmets, abalone
92247  Mandatory Covid-19 testing for ‘high-risk’ groups in Hong Kong gets nod, those who ignore orders face jail, fines
92248  Pope Francis said to be in final stage of selecting new Hong Kong bishop
92249  Hong Kong’s controversial national security law tip line gets 10,000 messages in first week of operation
92250  Mandatory Covid-19 testing for ‘high-risk’ groups in Hong Kong gets nod, those who ignore orders face jail, fines

[92251 rows x 1 columns]

In [29]:
ScmpDf

                                                                                                                   Title
0      Play to our strength
1      Hong Kong leader Leung must focus on building team as controversies mount
2      Loh a curious choice for government role but could make an impact in office
3      Hong Kong policeman Andy Naylor dies in water at Ironman triathlon in New York
4      Why so glum? Hongkongers need to savour city's success
...                                                       ...
92246  Hong Kong police inspector arrested on suspicion of stealing colleagues’ tactical helmets, abalone
92247  Mandatory Covid-19 testing for ‘high-risk’ groups in Hong Kong gets nod, those who ignore orders face jail, fines
92248  Pope Francis said to be in final stage of selecting new Hong Kong bishop
92249  Hong Kong’s controversial national security law tip line gets 10,000 messages in first week of operation
92250  Mandatory Covid-19 testing for ‘high-risk’ groups in Hong Kong gets nod, those who ignore orders face jail, fines

[92251 rows x 1 columns]

In [34]:
ScmpDf.to_csv('../Data/scmp_data_full.csv',index=False)
!ls '../Data/'

scmp_data.csv           scmp_opinion_data.csv
scmp_data_full.csv      train_test_val_data.csv

# Compile Opinion Data

In [14]:
with open('../../SCMP/Pickles/SCMP_Opinions.pkl', 'rb') as f:
    Scmp_Opinion_Df = pickle.load(f)
    
Scmp_Opinion_Df = Scmp_Opinion_Df.dropna()   
Scmp_Opinion_Df = Scmp_Opinion_Df.drop_duplicates()
#ScmpDf = ScmpDf[~ScmpDf.Topic.str.contains('|'.join(['Hong Kong']))]
Scmp_Opinion_Df['Title']  = Scmp_Opinion_Df['Title'] + ". " + Scmp_Opinion_Df['Summary']
Scmp_Opinion_Df = Scmp_Opinion_Df.drop(['Date','Link','Summary'], 1)
Scmp_Opinion_Df  = Scmp_Opinion_Df.reset_index(drop=True)
Scmp_Opinion_Df

                                                  Title          Author
0     A victory for Malaysia’s judicial independence...  SCMP Editorial
1     Sensible policies are needed to win the war on...  SCMP Editorial
2     Mainland and overseas Chinese may be worlds ap...         Alex Lo
3     Food for thought as rules to curb pandemic hur...  SCMP Editorial
4     University challenge: HKU must work to restore...  SCMP Editorial
...                                                 ...             ...
6461  South Korea’s Moon Jae-in may be the biggest l...     Donald Kirk
6462  Realignment of tunnel tolls is long overdue. L...  SCMP Editorial
6463  End of an era: Hong Kong steps down as the fac...       Peter Guy
6464  Forget air quality and public health, the Hong...   Loong Tsz-wai
6465  MTR may be on the right lines with public flat...         Alex Lo

[6466 rows x 2 columns]

In [17]:
Scmp_Opinion_Df.to_csv('../Data/scmp_opinion_data.csv',index=False)

In [16]:
Scmp_Opinion_Df.Title[0]

'A victory for Malaysia’s judicial independence. Whatever the political fallout from the conviction and jailing of former prime minister Najib Razak, the country’s courts deserve a pat on the back.'

In [6]:
ls '../../SCMP/Pickles'

SCMP_News20000.pkl       SCMP_News_Sample_DF.pkl  ScmpDF.pkl
SCMP_News26000.pkl       SCMP_Opinion_URLS.p
SCMP_News30000.pkl       SCMP_Opinions.pkl